@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  height: 10%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #337AB7;
}

main{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  width: 30rem;
  height: 20rem;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.weathercon{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.info {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

img {
  width: 8rem;
  height: 8rem;
}

.temperature {
  font-size: 2rem;
}

.unit {
  color: #F16C6C;
}

@media screen and (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .weathercon {
    width: 100%;
    height: 30%;
  }

  .info {
    width: 100%;
    height: 70%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  p {
    margin: 0;
  }
  
}